.infobox
{
    background: #ffffff;
}
#infoboxContent
{
    height: 90px;
    line-height: 16px;
    padding: 15px;

    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
#infoboxText
{
    float: left;
    font-size: 11px;

    overflow:auto;
}

.infoboxLink
{
    font-weight: bold;
    color: #636363;
}
#infoboxLogo
{
    border: 1px solid #cccccc;
    margin-bottom: 2px;
}
#infoboxIcons
{
    float: right;
    width: 37px;
}
#infoboxHeader
{
    height: 25px;
    line-height: 18px;
    background: #373737;
    color:#ffffff;
    padding-top: 10px;
    padding-left: 8px;
    border: 1px solid #373737;
    font-size: 14px;
}
#infoboxFooter
{
    height: 35px;
    background: #e8e8e8;
    border: 1px solid #cccccc;
    position: relative;
}
#infoboxFooter .footers
{
    position: absolute;
    width: 100%;
    height: 35px;
}
#infoboxFooter label
{
    display: block;
    padding: 8px 2px 0 12px;
    float:left;
}

#linkFooter
{
}
#routeFooter
{
    display: none;
    background: #eeeeee;
}

#routeFooter label
{
    padding-top: 10px;
}

#routeFooter .infoboxUrl
{
    padding: 9px 0px 0 4px;
}

#field {
    width:150px;
    height:18px;
    color:#000000;
    background: #ffffff;
    border: 1px solid #acacac;
    float: left;
    text-indent:5px;
    margin: 6px 1px 0 0;
}

.routebutton {
    width:20px;
    height:20px;
    cursor: pointer;
    border: none;
    padding: 0;
    text-indent: -9999px;
    float: left;
    margin: 7px 1px 0 0;
}

#auto
{
    background: url(../img/icon-routeplanner.gif) 0px -20px no-repeat;
}
#auto.active
{
    background: url(../img/icon-routeplanner.gif) 0px 0px no-repeat;
}
#auto:hover
{
    background: url(../img/icon-routeplanner.gif) 0px 0px no-repeat;
}


#ov
{
    background: url(../img/icon-routeplanner.gif) -20px -20px no-repeat;
}
#ov.active
{
    background: url(../img/icon-routeplanner.gif) -20px 0px no-repeat;
}
#ov:hover
{
    background: url(../img/icon-routeplanner.gif) -20px 0px no-repeat;
}

#lopen
{
    background: url(../img/icon-routeplanner.gif) -40px -20px no-repeat;
}
#lopen.active
{
    background: url(../img/icon-routeplanner.gif) -40px 0px no-repeat;
}
#lopen:hover
{
    background: url(../img/icon-routeplanner.gif) -40px 0px no-repeat;
}

#fiets
{
    background: url(../img/icon-routeplanner.gif) -60px -20px no-repeat;
}
#fiets.active
{
    background: url(../img/icon-routeplanner.gif) -60px 0px no-repeat;
}
#fiets:hover
{
    background: url(../img/icon-routeplanner.gif) -60px 0px no-repeat;
}


.infoboxUrl
{
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    color:#626262;
    float: left;
    padding: 8px 0px 0 12px;
    overflow: hidden;
}

#infoboxAddress
{
    font-weight: bold;
}

.icon
{
    margin-left: 6px;
    margin-bottom: 6px;
    width: 38px;
    height: 38px;
    float:right;
}